
table {
	border: 1px double black;	
}

td {
	background-color: lightblue;
	padding: 10px;
}

b {
	color: white;
}

#jsonID {
	width: 200px; 
    background: #ccc;
    padding: 5px;
    padding-right: 20px; 
    border: solid 1px black; 
	position: absolute;
	top: 312px;
	left: 0px
}
